.home {
    min-height: 88vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: pink; */
}

.home .head {
    margin: 5vh 0 3vh;
}

.home .addIcon {
    color: #010135;
    margin-bottom: 5vh;
}

.home table {
    width: 60%;
    border-collapse: collapse;
    /* border: 0.1rem solid #010135; */
}

.home table th, .home table td {
    padding: 0.5rem;
    border: 0.1rem solid #010135;
}

.home table td {
    text-align: center;
}

.home table td .editbtn:hover {
    color: orange;
}

.home table td .deletebtn:hover {
    color: red;
}