.navbar {
    min-height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 1, 53);
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.navbar .logo .head {
    color: white;
}

.navbar .logo .menuIcon {
    display: none;
    color: white;
}

.navbar .menus {
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orangered; */
}

.navbar .menus a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
}

/* Mobile Devices */
@media only screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .navbar .logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .navbar .logo .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .logo .menuIcon {
        display: block;
    }

    .navbar .logo .menuDiv {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1rem solid white;
    }

    .navbar .logo .menuDiv a {
        text-decoration: none;
        color: white;
        margin: 0 0.5rem;
    }

    .navbar .menus {
        display: none;
        margin: 0;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 481px) and (max-width: 720px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .navbar .logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        /* background-color: brown; */
    }

    .navbar .logo .header {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: violet; */
    }

    .navbar .logo .menuIcon {
        display: block;
    }

    .navbar .logo .menuDiv {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1rem solid white;
    }

    .navbar .logo .menuDiv a {
        text-decoration: none;
        color: white;
        margin: 0 1rem;
    }

    .navbar .menus {
        display: none;
        margin-right: 0;
    }
}